<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="POST" action="/display_puppy">
       <label>Enter your puppy:
         <input type="text" name="name" />
         <input type="text" name="breed" />
         <input type="integer" name="age" />
       </label><br/>
       <input type="submit" id="Submit" />
     </form>
  </body>
</html>
