<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="POST" action="/display_puppy">
       <h1><%= @name, @breed, @age%></h1>
     </form>
  </body>
</html>
